*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;  
}

body{
    font-family: 'Ubuntu', sans-serif;
}

form{
  max-width: none;
     width: 55%;
    box-shadow: rgb(38, 57, 77) 1px 20px 30px -10px;
    padding: 60px ;
    border-radius: 1%;
   
    
}

.title{
    font-size: 26px;
    font-weight:1000;
    line-height: 1.2;
  margin-bottom: 20px;
background-image: linear-gradient(to right, #00F260,#0575E6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

label{
    display: block;
    margin-bottom: 5px;
}

form div input{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-image:  linear-gradient(white, white), radial-gradient(circle at top left, #00F260,#3189e2) ;
  outline: none;
  padding: 0 30px;
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  border: double 2.3px transparent;
}

form div{
    position: relative;
    margin-bottom: 10px;
}

input:focus{                                    
    border: double 2.3px transparent;
    background-image:  linear-gradient(white, white), radial-gradient(circle at top left, #057331,#053a6f) ;
    background-origin: border-box;
  background-clip: padding-box, border-box; 
}
form div i {
    position: absolute;
    padding: 10px;
}

.failure-icon , .error {
    color: red;
}
.success-icon {
    color: rgb(11, 182, 11);
}
.error{
    font-size: 14.6px;
    margin-top: 5px;
    margin-left: 5px; 
   
}

.success-icon , .failure-icon {
    right: 0;
    opacity: 0;
    }

button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border : 0;
     color: #FFFFFF;
    line-height: 1.2em;
    justify-content: center;
    margin-top: 15px;
    border: 2px ;
    background-image: linear-gradient(144deg,#16db64 , #7aaca0 55%,#4d9ff0);
    text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1 ease;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
    opacity: 0.8;
    outline: 0 ;
    box-shadow: 0px 0px 10px -10px rgba(4, 0, 0, 0.511);

  }

  .or{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
  }

  span{
    color: #448dd7;
    font-weight: bolder;
    padding-left: 5px;
    cursor: pointer;
   }
   .question{
    font-size: 14px ;
   }

  .btn{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    gap: 16px;
    margin-top: 20px;
    height: 60px;
  }


   .btn-1 , .btn-2 {
     padding : 10px 5px;
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.793);
    cursor: pointer;
    border-radius: 8px;
   }
   .container {
    display: flex;
    flex-direction: row;
  }
 .content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
width: 50%;
  min-height: 100vh;
  padding: 10px 20px;
 }

 .image{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width
 }